html,
body {
  height: auto;
  height: 100%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.5;
  opacity: 0;
  transition: all 1.5s ease-in-out;
  background: #101010;
  color: #eaeaea;
}
body.ready {
  opacity: 1;
}
.container {
  display: flex;
  height: 100%;
  z-index: 1000;
  position: relative;
}
.stendig {
  font-weight: 900;
  width: 520px;
  margin: auto;
  position: relative;
  padding-top: 88px;
  top: -44px;
}
.stendig h2 {
  position: absolute;
  top: 0;
  letter-spacing: -1px;
  font-size: 1.1em;
}
.stendig .year {
  left: 288px;
}
.stendig .month {
  left: 360px;
}
.stendig table {
  width: 504px;
  font-size: 56px;
  border-spacing: 0;
}
.stendig table thead {
  vertical-align: top;
}
.stendig table td.today {
  color: #7512ed;
}
.stendig table td {
  width: 72px;
  height: 44px;
  line-height: 40px;
  text-align: left;
  border-left: 1px solid #000;
  vertical-align: top;
  letter-spacing: -5px;
  border-color: #fff;
}
.stendig table td.k3 {
  letter-spacing: -3px;
}
.stendig table td.k10 {
  letter-spacing: -10px;
}
.stendig table td.k13 {
  letter-spacing: -13px;
}
@media (max-width: 660px) {
  .stendig {
    width: 320px;
  }
  .stendig table {
    width: 320px;
    font-size: 35px;
  }
  .stendig table td {
    width: 46px;
    height: 27px;
    letter-spacing: -3px;
  }
  .stendig table td.k10 {
    letter-spacing: -5px;
  }
  .stendig table td.k13 {
    letter-spacing: -8px;
  }
  .stendig .year {
    left: 184px;
  }
  .stendig .month {
    left: 230px;
  }
}
